:root {
  --bg-light: #e5e5e5;
  --bg-dark: #242424;
}

.faculty-member-header {
  .button {
    &:first-child {
      border-bottom-left-radius: 8px;
      border-right: 1px solid #e0e0e0;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
    }
  }
}

.centered-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee5fd;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
