.positioning-scientific-domain-chart {
  margin: 1.5rem 0;

  &__controls {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .select-wrapper {
      flex: 1;
      min-width: 260px;
    }

    .segmented-wrapper {
      flex-shrink: 0;
    }
  }
}
