.results {
  padding: 0;

  .hint {
    display: inline-block;
    font-size: 0.9rem;
    padding-top: 10px;
  }

  & li {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    list-style: none;
    padding: 10px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.territories-filter {
  border-bottom: 1px solid #e0e0e0;
  li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #a94645;
    }
    &.active {
      border-bottom: 3px solid #000091;
      transition: border-bottom 0.6s;
    }
  }
}
