.students-card {
  .key-number {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    display: inline-block;
  }

  .students-label {
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    ;
    line-height: 18px;
  }

  .card-description {
    font-size: 1rem;
  }
}