.establishment-selector {
  background-color: var(--background-alt-blue-france);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__filters {
    margin-bottom: 1rem;
  }

  .fr-select-group {
    margin-bottom: 0;
  }

  .fr-label {
    font-weight: 600;
  }
}
