.national-selector {
  margin-bottom: 3rem;

  &__header {
    background: linear-gradient(
      135deg,
      var(--background-contrast-blue-france) 0%,
      var(--background-default-grey) 100%
    );
    padding: 2.5rem 0;
    margin-bottom: 2rem;

    .fr-label {
      color: var(--text-label-grey);
    }

    .fr-hint-text {
      color: var(--text-mention-grey);
    }

    .fr-select {
      background-color: var(--background-contrast-grey);
      color: var(--text-default-grey);
      border-color: var(--border-plain-grey);
    }
  }

  &__title {
    color: var(--text-title-grey) !important;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
