.search {
  .content{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;

    .list-box {
      padding: 6px;
      border: 1px solid #ccc;
      height: 300px;
      font-size: 0.9em;
      overflow-y: auto;
      background-color: #fff;

      .fr-label {
        font-size: small;
      }
    }

    .pillars {
      height: auto;
    }
    
    .custom-gt {
      text-align: center;
      margin-top: 150px;
      color: grey;
    }

    .explaination{
      font-size: 0.9em;
      color: grey;
    }
  }
}
