.search {
  .content{
    border: 1px solid var(--grey-1000-50-hover);
    padding: 10px;
    background-color: var(--background-default-grey);

    .list-box {
      padding: 6px;
      border: 1px solid #ccc;
      height: 300px;
      font-size: 0.9em;
      overflow-y: auto;
      background-color: var(--background-default-grey);

      .fr-label {
        font-size: small;
      }
    }

    .pillars {
      height: auto;
    }
    
    .custom-gt {
      text-align: center;
      margin-top: 150px;
      color: grey;
    }

    .explaination{
      font-size: 0.9em;
      color: var(--text-default-grey);
    }
  }
}
