@use "../styles.scss";

.board-fundings {
  .chart-container--default {
    background-color: var(--background-contrast-grey) !important;
  }

  .fr-select {
    box-shadow: inset 0 -2px 0 0 var(--border-action-high-blue-france);
  }
}
