#positioning-scatter-table {
  width: 100%;

  th:nth-child(1) {
    width: 35%;
  }

  th:nth-child(2),
  th:nth-child(3) {
    width: 15%;
  }

  th:nth-child(4),
  th:nth-child(5) {
    width: 17.5%;
  }
}
