.highlighted-row {
  background-color: var(--background-contrast-blue-ecume);
  font-weight: bold;
  border-left: 4px solid var(--background-active-blue-france);
}

#positioning-scatter-table {
  width: 100%;

  th:nth-child(1) {
    width: 35%;
  }

  th:nth-child(2),
  th:nth-child(3) {
    width: 15%;
  }

  th:nth-child(4),
  th:nth-child(5) {
    width: 17.5%;
  }
}

.text-mention-grey {
  color: var(--text-mention-grey);
}
