.cnu-table-root {
  width: 100%;
  max-width: 100%;
}

.cnu-table-scroll {
  overflow-x: auto;
  max-height: 600px;
  overflow-y: auto;
}

.cnu-table-scroll--sm {
  max-height: 400px;
}

.cnu-table {
  width: 100%;
  font-size: 0.9em;
}

.cnu-table__head {
  position: sticky;
  top: 0;
  background-color: var(--background-default-grey);
  z-index: 1;
}

.th--label {
  font-size: 0.85em;
}

.th--min60 {
  min-width: 60px;
  font-size: 0.85em;
}

.th--min80 {
  min-width: 80px;
  font-size: 0.85em;
}

.th--min140 {
  min-width: 140px;
  font-size: 0.85em;
}

.nowrap {
  white-space: nowrap;
}

.age-legend {
  font-size: 0.8em;
  margin-top: 4px;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.legend-color {
  display: inline-block;
  width: 14px;
  height: 8px;
  border-radius: 2px;
  margin-right: 2px;
  vertical-align: middle;
}

.legend-color.age-35 {
  background: var(--blue-cumulus-925);
}
.legend-color.age-36-55 {
  background: var(--blue-cumulus-850);
}
.legend-color.age-56 {
  background: var(--blue-ecume-sun-247);
}
.legend-color.age-np {
  background: var(--unspecified-field-color);
}

.progress-container {
  min-width: 60px;
  margin: 0 auto;
  display: flex;
  height: 8px;
  width: 100%;
  background: transparent;
}

.progress-bar {
  height: 8px;
}

.progress-bar.male {
  background: var(--men-color);
}
.progress-bar.female {
  background: var(--women-color);
}

.age-bars {
  display: flex;
  height: 18px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.age-segment {
  display: inline-block;
  height: 100%;
}

.age-segment.age-35 {
  background: var(--blue-cumulus-925);
}
.age-segment.age-36-55 {
  background: var(--blue-cumulus-850);
}
.age-segment.age-56 {
  background: var(--blue-ecume-sun-247);
}
.age-segment.age-np {
  background: var(--unspecified-field-color);
}
