.graph-footer {
  align-items: center;
  font-size: 12px;

  .description {
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
    min-height: 48px;
    padding: 4px 8px;
  }

  .share {
    text-align: right;
    background-color: var(--background-open-blue-france);
  }

}

.actions {
  text-align: right;
}

.modal-actions {
  & ul {
    padding: 0;
    margin: 0;

    & li {
      list-style: none;
    }
  }
}

.sources {
  font-size: 12px;
  font-style: italic;
}

figure {
  margin: 0;
}