.positioning-filters {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__card {
    padding: 1rem;
    background-color: var(--background-default-grey);
    border: 1px solid var(--border-default-grey);
    height: 100%;
  }

  &__card-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--blue {
      background-color: var(--background-contrast-blue-ecume);

      .fr-icon-filter-line {
        color: var(--text-label-blue-ecume);
      }
    }
  }

  &__info {
    background-color: var(--background-alt-blue-france);
    border: 1px solid var(--border-plain-blue-france);
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.text-mention-grey {
  color: var(--text-mention-grey);
}
