.ep-main-menu {
  background-color: var(--background-default-grey-hover);
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

  .actions {
    display: flex;
    justify-content: space-between;
  }

}

// Fix pour que le dropdown du sélecteur de langue passe au-dessus du menu principal
.fr-header {
  z-index: 1002 !important;
}

.fr-translate {
  position: relative !important;
  z-index: 1003 !important;
  
  .fr-collapse.fr-translate__menu.fr-menu {
    z-index: 1004 !important;
    position: absolute !important;
  }
}

// Alternative plus spécifique
#translate-1177 {
  z-index: 1005 !important;
  position: absolute !important;
}

.ep-side-menu {
  position: sticky !important;
  top: 60px !important;
  z-index: 999 !important;
}

.ep-title {
  position: sticky !important;
  top: 57px !important;
  z-index: 999 !important;
  background-color: white !important; //TODO: mettre bg du dsfr
  min-height: 40px !important;
}