.ep-main-menu {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;

  .actions {
    display: flex;
    justify-content: space-between;
  }

}
.ep-main-menu-bg-color {
  background-color: #f5f5f5 !important; //TODO: mettre bg du dsfr
}

.ep-side-menu {
  position: sticky !important;
  top: 60px !important;
  z-index: 999 !important;
}

.ep-title {
  position: sticky !important;
  top: 57px !important;
  z-index: 999 !important;
  background-color: white !important; //TODO: mettre bg du dsfr
  min-height: 40px !important;
}