.pillars-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pillar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.programs {
  display: flex;
  gap: 0.5rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-left: 2rem;
}

.programs.active {
  max-height: 100px;
  opacity: 1;
}

.programs button {
  font-size: 0.9em;
}