.padded-sidemenu {
  .fr-sidemenu__inner {
    padding-top: 3rem;
  }
}

.text-right {
  text-align: right;
}

.legend {
  ul {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
      margin-right: 2rem;

      div {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  }
}

:root {
  --label-color: var(--text-action-high-grey);
  --evaluated-project-color: #009099; // projets évalués
  --successful-project-color: #233e41; // projets lauréats
}
