.default-skeleton {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    var(--border-default-grey) 25%,
    var(--background-alt-grey) 50%,
    var(--border-default-grey) 75%
  );
  background-size: 200% 100%;
  animation: loading-shimmer 1.5s infinite;
}

.map-skeleton {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    var(--border-default-grey) 25%,
    var(--background-alt-grey) 50%,
    var(--border-default-grey) 75%
  );
  background-size: 200% 100%;
  animation: loading-shimmer 1.5s infinite;
}

@keyframes loading-shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.filieres-list-skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .filieres-list-skeleton__title {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background: linear-gradient(
      90deg,
      var(--border-default-grey) 25%,
      var(--background-alt-grey) 50%,
      var(--border-default-grey) 75%
    );
    background-size: 200% 100%;
    animation: loading-shimmer 1.5s infinite;
  }

  .filieres-list-skeleton__item {
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
    background: linear-gradient(
      90deg,
      var(--border-default-grey) 25%,
      var(--background-alt-grey) 50%,
      var(--border-default-grey) 75%
    );
    background-size: 200% 100%;
    animation: loading-shimmer 1.5s infinite;
  }
}
