:root {
  --evaluated-project: #009099; // projets évalués
  --successful-project: #233e41; // projets lauréats
  --successRate: #1f8d49; // taux de succès

  --label-color: var(--text-action-high-grey);
  --evaluated-project-color: #009099; // projets évalués
  --successful-project-color: #233e41; // projets lauréats
  --averageSuccessRate-color: #d75521; // taux de succès moyen
  --cumulativeSuccessRate-color: #d75521; // taux de succès moyen
  --selected-country-color: #6dd897; // pays sélectionné
  --associated-countries-color: #09622a; // pays associés
  --collaboration-color: #684579; // collaboration
  --coordination-color: var(--blue-ecume-sun-247); // coordination
  --partner-color: var(--purple-glycine-sun-319); // partenaire
  --candidats-color: #009099; // candidats
  --participants-color: #233e41; // participants

  --main-partner: #684579; // principal bénéficiaire
  --main-partner-dark: #684579; // principal bénéficiaire

  // Pillars colors
  --pillar-p1-color: var(--scale-1-color); // pilier 1
  --pillar-p2-color: var(--scale-2-color); // pilier 2
  --pillar-p3-color: var(--scale-3-color); // pilier 3
  --pillar-p4-color: var(--scale-4-color); // pilier 4

  // Programs colors
  --program-horizon_1_1-color: var(--scale-1-color);
  --program-horizon_1_2-color: var(--scale-2-color);
  --program-horizon_1_3-color: var(--scale-3-color);
  --program-horizon_2_1-color: var(--scale-4-color);
  --program-horizon_2_2-color: var(--scale-5-color);
  --program-horizon_2_3-color: var(--scale-6-color);
  --program-horizon_2_4-color: var(--scale-7-color);
  --program-horizon_2_5-color: var(--scale-8-color);
  --program-horizon_2_6-color: var(--scale-9-color);
  --program-horizon_3_1-color: var(--scale-10-color);
  --program-horizon_3_2-color: var(--scale-11-color);
  --program-horizon_3_3-color: var(--scale-12-color);
  --program-horizon_4_1-color: var(--scale-13-color);
  --program-horizon_4_2-color: var(--scale-14-color);

  // Topics colors
  --topic-cluster_1-color: var(--scale-15-color);
  --topic-cluster_2-color: var(--scale-16-color);
  --topic-cluster_3-color: var(--scale-17-color);
  --topic-cluster_4-color: var(--scale-18-color);
  --topic-cluster_4_digital-color: var(--scale-19-color);
  --topic-cluster_4_industry-color: var(--scale-20-color);
  --topic-cluster_4_space-color: var(--scale-21-color);
  --topic-cluster_5-color: var(--scale-22-color);
  --topic-cluster_5_climate-color: var(--scale-23-color);
  --topic-cluster_5_energy-color: var(--scale-24-color);
  --topic-cluster_5_mobility-color: var(--scale-25-color);
  --topic-cluster_6-color: var(--scale-26-color);
  --topic-eic-color: var(--scale-27-color);
  --topic-eie-color: var(--scale-28-color);
  --topic-eit-color: var(--scale-29-color);
  --topic-era-color: var(--scale-30-color);
  --topic-erc-color: var(--scale-31-color);
  --topic-euspa-color: var(--scale-32-color);
  --topic-infra-color: var(--scale-33-color);
  --topic-ju_jti-color: var(--scale-34-color);
  --topic-mission-color: var(--scale-35-color);
  --topic-msca-color: var(--scale-36-color);
  --topic-thema_others-color: var(--scale-37-color);
  --topic-widening-color: var(--scale-38-color);

  // Destinations colors
  --destination-accelerator-color: var(--scale-1-color);
  --destination-access-color: var(--scale-2-color);
  --destination-bioenv_others-color: var(--scale-3-color);
  --destination-cancer-color: var(--scale-4-color);
  --destination-cbe-color: var(--scale-5-color);
  --destination-ccsi_others-color: var(--scale-6-color);
  --destination-cem_others-color: var(--scale-7-color);
  --destination-cit-color: var(--scale-8-color);
  --destination-clean_aviation-color: var(--scale-9-color);
  --destination-cleanh2-color: var(--scale-10-color);
  --destination-clima-color: var(--scale-11-color);
  --destination-connect-color: var(--scale-12-color);
  --destination-cost-color: var(--scale-13-color);
  --destination-chips-color: var(--scale-14-color);
  --destination-destination_others-color: var(--scale-15-color);
  --destination-dis_others-color: var(--scale-16-color);
  --destination-destination_1_biodiv-color: var(--scale-17-color);
  --destination-destination_1_d1-color: var(--scale-18-color);
  --destination-destination_1_democracy-color: var(--scale-19-color);
  --destination-destination_1_fct-color: var(--scale-20-color);
  --destination-destination_1_stayhlth-color: var(--scale-21-color);
  --destination-destination_1_twin-color: var(--scale-22-color);
  --destination-destination_2_bm-color: var(--scale-23-color);
  --destination-destination_2_d2-color: var(--scale-24-color);
  --destination-destination_2_envhlth-color: var(--scale-25-color);
  --destination-destination_2_farm2fork-color: var(--scale-26-color);
  --destination-destination_2_heritage-color: var(--scale-27-color);
  --destination-destination_2_resilience-color: var(--scale-28-color);
  --destination-destination_3_circbio-color: var(--scale-29-color);
  --destination-destination_3_d3-color: var(--scale-30-color);
  --destination-destination_3_data-color: var(--scale-31-color);
  --destination-destination_3_disease-color: var(--scale-32-color);
  --destination-destination_3_infra-color: var(--scale-33-color);
  --destination-destination_3_transformations-color: var(--scale-34-color);
  --destination-destination_4_care-color: var(--scale-35-color);
  --destination-destination_4_cs-color: var(--scale-36-color);
  --destination-destination_4_d4-color: var(--scale-37-color);
  --destination-destination_4_digital-color: var(--scale-38-color);
  --destination-destination_4_zeropollution-color: var(--scale-39-color);
  --destination-destination_5_climate-color: var(--scale-40-color);
  --destination-destination_5_d5-color: var(--scale-41-color);
  --destination-destination_5_drs-color: var(--scale-42-color);
  --destination-destination_5_space-color: var(--scale-43-color);
  --destination-destination_5_tool-color: var(--scale-44-color);
  --destination-destination_6_communities-color: var(--scale-45-color);
  --destination-destination_6_d6-color: var(--scale-46-color);
  --destination-destination_6_human-color: var(--scale-47-color);
  --destination-destination_6_ind-color: var(--scale-48-color);
  --destination-destination_6_ssri-color: var(--scale-49-color);
  --destination-destination_7_governance-color: var(--scale-50-color);
  --destination-edctp3-color: var(--scale-51-color);
  --destination-er-color: var(--scale-52-color);
  --destination-era-color: var(--scale-53-color);
  --destination-euratom-color: var(--scale-54-color);
  --destination-eurohpc-color: var(--scale-55-color);
  --destination-euspa-color: var(--scale-56-color);
  --destination-gender-color: var(--scale-57-color);
  --destination-health_others-color: var(--scale-58-color);
  --destination-ihi-color: var(--scale-59-color);
  --destination-infradev-color: var(--scale-60-color);
  --destination-infraeosc-color: var(--scale-61-color);
  --destination-infranet-color: var(--scale-62-color);
  --destination-infraserv-color: var(--scale-63-color);
  --destination-infratech-color: var(--scale-64-color);
  --destination-innovsmes-color: var(--scale-65-color);
  --destination-kic_ccsi-color: var(--scale-66-color);
  --destination-kic_climate-color: var(--scale-67-color);
  --destination-kic_digital-color: var(--scale-68-color);
  --destination-kic_food-color: var(--scale-69-color);
  --destination-kic_health-color: var(--scale-70-color);
  --destination-kic_innoenergy-color: var(--scale-71-color);
  --destination-kic_manufacturing-color: var(--scale-72-color);
  --destination-kic_rawmaterials-color: var(--scale-73-color);
  --destination-kic_urbanmobility-color: var(--scale-74-color);
  --destination-miss_others-color: var(--scale-75-color);
  --destination-ocean-color: var(--scale-76-color);
  --destination-pathfinder-color: var(--scale-77-color);
  --destination-scaleup-color: var(--scale-78-color);
  --destination-sesar-color: var(--scale-79-color);
  --destination-sns-color: var(--scale-80-color);
  --destination-soil-color: var(--scale-81-color);
  --destination-talents-color: var(--scale-82-color);
  --destination-transition-color: var(--scale-83-color);

  // project-types colors
  --project-type-act-others-color: var(--scale-1-color);
  --project-type-csa-color: var(--scale-2-color);
  --project-type-eic-color: var(--scale-3-color);
  --project-type-erc-color: var(--scale-4-color);
  --project-type-ia-color: var(--scale-5-color);
  --project-type-msca-color: var(--scale-6-color);
  --project-type-ria-color: var(--scale-7-color);

  // beneficiaries-types colors
  --beneficiarie-type-REC-color: var(--scale-1-color);
  --beneficiarie-type-PUB-color: var(--scale-4-color);
  --beneficiarie-type-PRC-color: --beneficiarie-type-HES-color: var(--scale-3-color);
  --beneficiarie-type-OTH-color: var(--scale-5-color);

  // framework colors
  --framework-fp6-color: var(--scale-1-color);
  --framework-fp7-color: var(--scale-2-color);
  --framework-horizon2020-color: var(--scale-3-color);
  --framework-horizoneurope-color: var(--scale-4-color);
}
