.callout-style-overview {
  background-image: linear-gradient(0deg, #233e41, #009099);
}

.callout-style-positioning {
  background-image: linear-gradient(0deg, rgb(35, 62, 65), rgb(215, 85, 33));
}

.callout-style {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0));
}

.ep-bg1 {
  background-color: var(--blue-cumulus-925);
  border-radius: 8px;
  padding: 16px;
}

.ep-bg2 {
  background-color: var(--pink-macaron-925);
  border-radius: 8px;
  padding: 16px;
}

.chart-container {
  background-color: var(--blue-cumulus-925);
  border-radius: 8px;
  padding: 16px;

  .chart-footer {
    font-size: 0.8rem;
    color: #6a6a6a;
  }

  .legend {
    font-size: 0.8rem;
    color: #6a6a6a;
    background-color: white;
  } 
  
  .chart {
    background-color: white;
  }
}
