.callout-style-overview {
  background-image: linear-gradient(0deg, #233e41, #009099);
  background-color: var(--blue-cumulus-925);
  border-radius: 8px;
}

.callout-style-positioning {
  background-image: linear-gradient(0deg, rgb(35, 62, 65), rgb(215, 85, 33));
  background-color: var(--pink-macaron-925);
  border-radius: 8px;
}

.callout-style {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0));
  background-color: var(--grey-925);
  border-radius: 8px;
}

.ep-bg1 {
  background-color: var(--blue-cumulus-925);
  border-radius: 8px;
  padding: 16px;
}

.ep-bg2 {
  background-color: var(--pink-macaron-925);
  border-radius: 8px;
  padding: 16px;
}

.chart-container {
  padding: 16px;

  .chart-footer {
    font-size: 0.8rem;
    color: #6a6a6a;
  }

  .legend {
    font-size: 0.8rem;
    color: #6a6a6a;
    background-color: white;
  } 
  
  .chart {
    background-color: white;
  }
}
.chart-container--pillars {
  background-color: var(--background-contrast-blue-ecume) !important;
}
.chart-container--programs {
  background-color: var(--background-contrast-purple-glycine) !important;
}
.chart-container--thematics {
  background-color: var(--background-contrast-green-menthe) !important;
}
.chart-container--destinations {
  background-color: var(--background-contrast-orange-terre-battue) !important;
}
