.callout-style-overview {
  background-image: linear-gradient(0deg, #233e41, #009099);
}

.callout-style-positioning {
  background-image: linear-gradient(0deg, rgb(35, 62, 65), rgb(215, 85, 33));
}

.callout-style {
  background-image: linear-gradient(0deg, rgb(0,0,0), rgb(0, 0, 0));
}