.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gridGap);
  justify-items: center;
  width: calc((2 * var(--imageWidth)) + (2 * var(--gridGap)));
  margin: 0 auto;
}
