  .description {
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
    min-height: 48px;
    padding: 4px 8px;
  }

  .chart-bg {
    background-color: var(--green-bourgeon-975-75);
    border-radius: 8px;
    padding: 16px;
  }