  .description {
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
    min-height: 48px;
    padding: 4px 8px;
  }

  .chart-bg {
    background-color: var(--background-alt-blue-ecume-hover);
    border-radius: 8px;
    padding: 16px;
  }

  .chart-bg2 {
    background-color: var(--background-alt-green-bourgeon);
    border-radius: 8px;
    padding: 16px;
  }

  .bg2 {
    // background-color: var(--background-alt-green-bourgeon);
    background-image: linear-gradient(0deg,var(--green-bourgeon-main-640),var(--green-bourgeon-main-640));
  }
