.theme-tableaux {
  --hcg-background: transparent;
  --hcg-border-color: var(--border-default-grey);
  --hcg-border-width: 1px;
  --hcg-cell-color: var(--text-default-grey);
  --hcg-row-hover-background: var(--background-contrast-blue-france);
  --hcg-text-align: left;
}