.fr-table.fr-table--sm {
  font-size: 0.75rem;

  th {
    font-size: 0.75rem;
    vertical-align: top;
    font-weight: 700;
  }

  td {
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
  }
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.fundings-datatable__test1 {
  min-height: unset;
  padding: 0;
  line-height: 1;
}

.fundings-datatable__test2 {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}

.fundings-datatable__test3 {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}
