.highlighted-row {
  background-color: var(--background-contrast-blue-ecume);
  font-weight: bold;
  border-left: 4px solid var(--background-active-blue-france);
}

.text-mention-grey {
  color: var(--text-mention-grey);
}
