.ep-navigator-wrapper {
  padding-top: 1px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  background: linear-gradient(135deg, var(--background-contrast-blue-france) 0%, var(--background-default-grey) 100%);
  position: sticky; 
  top: 56px;
  z-index: 10 ;
}