.valo-datatable {
  border-spacing: 0;

  thead tr {
    background-color: var(--background-alt-grey);
    text-align: left;
  }

  thead th,
  tbody td {
    padding: 10px;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: var(--background-alt-grey);
    }
    &:nth-child(odd) {
      background-color: var(--background-default-grey-hover);
    }

    &:hover {
      background-color: var(--background-contrast-blue-ecume);
    }
  }
}
