.status-indicator {
  all: unset;
  cursor: help;
  margin-left: 0.5rem;
  line-height: 1;

  &::before {
    display: none !important;
  }

  &:hover,
  &:focus {
    background-color: transparent !important;
  }

  &__dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}
