.graph-footer {
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 12px;

  .description {
    font-size: 12px;
    margin-top: 10px;
    font-style: italic;
    min-height: 48px;
    padding: 4px 8px;
  }

  .share {
    text-align: right;
    background-color: var(--background-open-blue-france);
  }
}

.sources {
  font-size: 12px;
  font-style: italic;
}

figure {
  margin: 0;
}