.graph-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 12px;

  .share {
    .title {
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    border: 1px solid #ddd;
  }
}

.sources {
  font-size: 12px;
  font-style: italic;
}

figure {
  margin: 0;
}

.description {
  font-size: 12px;
  margin-top: 10px;
  font-style: italic;
  min-height: 48px;
  padding: 4px 8px;
}