.secondary-navigation {
  border-bottom: 1px solid var(--border-default-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__burger {
    display: none;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;

    * {
      color: var(--text-default-grey) !important;
    }
  }

  .fr-nav__list {
    align-items: center;
  }
}

@media (max-width: 575px) {
  .secondary-navigation {
    flex-direction: column;
    align-items: stretch;

    &__right {
      order: -1;
      margin-left: auto;
      margin-bottom: 1rem;
      justify-content: center;
    }

    .fr-nav__list {
      flex-direction: column;

      .fr-nav__item {
        width: 100%;

        .fr-nav__link {
          width: 100%;
        }
      }
    }
  }
}
