.etablissement-selector {
  &__wrapper {
    background: linear-gradient(
      135deg,
      var(--background-contrast-blue-france) 0%,
      var(--background-default-grey) 100%
    );
  }
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;

  .fr-btn {
    min-width: 200px;
    justify-content: flex-start;
    white-space: nowrap;
  }

  &__year .fr-btn {
    min-width: 100px;
  }

  &__rce .fr-btn {
    min-width: 140px;
  }

  &__typologie {
    flex-basis: 100%;
    order: 10;

    .fr-btn {
      min-width: 100%;
    }
  }
}

.section-navigation {
  border-bottom: 1px solid var(--border-default-grey);

  &__burger {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list--open {
    display: flex !important;
  }

  @media (max-width: 61.99em) {
    &__burger {
      display: flex !important;
      margin: 0.5rem 1rem;
    }

    &__list {
      display: none !important;
      flex-direction: column;
      background: var(--background-default-grey);

      .fr-nav__item {
        width: 100%;
      }

      .fr-nav__link {
        width: 100%;
      }
    }
  }
}
