:root {
  // funders
  --funder-anr: #738cff;
  --funder-anr-dark: #738cff;
  --funder-pia-anr: #3f5ffc;
  --funder-pia-anr-dark: #3f5ffc;
  --funder-pia-hors-anr: #182a3d;
  --funder-pia-hors-anr-dark: #182a3d;
  --funder-horizon-2020: #ffd500;
  --funder-horizon-2020-dark: #ffd500;
  --funder-horizon-europe: #e39700;
  --funder-horizon-europe-dark: #e39700;
  // fields
}