:root {
  // Classifications
  --classification-agricultural-food-and-veterinary-sciences: #994d81;
  --classification-astronomy: #62b93c;
  --classification-biological-sciences-fundamental: #bb53c1;
  --classification-chemical-engineering: #4fbe6c;
  --classification-chemistry: #7263cf;
  --classification-computer-science-and-information-science: #b5b336;
  --classification-earth-environmental-and-climate-sciences: #667fc6;
  --classification-economics-and-business: #dd8f2f;
  --classification-educational-research: #47b0d1;
  --classification-educational-sciences: #d7453d;
  --classification-engineering-and-technology: #5bbf9d;
  --classification-humanities: #d74989;
  --classification-interdisciplinary-crosscutting-research: #5c8627;
  --classification-linguistics: #cb8cd0;
  --classification-mathematics-and-statistics: #3e7d4c;
  --classification-medical-and-health-sciences: #c7666f;
  --classification-physics-and-astronomy: #9ab166;
  --classification-psychology-and-cognitive-sciences: #ba6239;
  --classification-social-sciences: #7e6c29;
  // Funders
  --funder-anr: #738cff;
  --funder-horizon-2020: #ffd500;
  --funder-horizon-europe: #e39700;
  --funder-pia-anr: #3f5ffc;
  --funder-pia-hors-anr: #182a3d;
  // Instruments
  --instrument-cofund: #9140cc;
  --instrument-coordination: #56ba4f;
  --instrument-eic: #d3469c;
  --instrument-erc: #9bab3c;
  --instrument-innovation: #605cc0;
  --instrument-jcjc: #d39643;
  --instrument-marie: #61376c;
  --instrument-pepr: #8dac78;
  --instrument-prc: #d54937;
  --instrument-prce: #4daca3;
  --instrument-prci: #822f3a;
  --instrument-prme: #618dbe;
  --instrument-pui: #84582d;
  --instrument-recognition: #bf88c6;
  --instrument-research: #41612e;
  --instrument-tiers: #d68284;
}
