:root {
  // Funders
  --funder-anr-dark: #738cff;
  --funder-anr: #738cff;
  --funder-horizon-2020-dark: #ffd500;
  --funder-horizon-2020: #ffd500;
  --funder-horizon-europe-dark: #e39700;
  --funder-horizon-europe: #e39700;
  --funder-pia-anr-dark: #3f5ffc;
  --funder-pia-anr: #3f5ffc;
  --funder-pia-hors-anr-dark: #182a3d;
  --funder-pia-hors-anr: #182a3d;
  // Classifications
  --classification-agricultural-food-and-veterinary-sciences: #994d81;
  --classification-agricultural-food-and-veterinary-sciences-dark: #994d81;
  --classification-astronomy: #62b93c;
  --classification-astronomy-dark: #62b93c;
  --classification-biological-sciences-fundamental: #bb53c1;
  --classification-biological-sciences-fundamental-dark: #bb53c1;
  --classification-chemical-engineering: #4fbe6c;
  --classification-chemical-engineering-dark: #4fbe6c;
  --classification-chemistry: #7263cf;
  --classification-chemistry-dark: #7263cf;
  --classification-computer-science-and-information-science: #b5b336;
  --classification-computer-science-and-information-science-dark: #b5b336;
  --classification-earth-environmental-and-climate-sciences: #667fc6;
  --classification-earth-environmental-and-climate-sciences-dark: #667fc6;
  --classification-economics-and-business: #dd8f2f;
  --classification-economics-and-business-dark: #dd8f2f;
  --classification-educational-research: #47b0d1;
  --classification-educational-research-dark: #47b0d1;
  --classification-educational-sciences: #d7453d;
  --classification-educational-sciences-dark: #d7453d;
  --classification-engineering-and-technology: #5bbf9d;
  --classification-engineering-and-technology-dark: #5bbf9d;
  --classification-humanities: #d74989;
  --classification-humanities-dark: #d74989;
  --classification-interdisciplinary-crosscutting-research: #5c8627;
  --classification-interdisciplinary-crosscutting-research-dark: #5c8627;
  --classification-linguistics: #cb8cd0;
  --classification-linguistics-dark: #cb8cd0;
  --classification-mathematics-and-statistics: #3e7d4c;
  --classification-mathematics-and-statistics-dark: #3e7d4c;
  --classification-medical-and-health-sciences: #c7666f;
  --classification-medical-and-health-sciences-dark: #c7666f;
  --classification-physics-and-astronomy: #9ab166;
  --classification-physics-and-astronomy-dark: #9ab166;
  --classification-psychology-and-cognitive-sciences: #ba6239;
  --classification-psychology-and-cognitive-sciences-dark: #ba6239;
  --classification-social-sciences: #7e6c29;
  --classification-social-sciences-dark: #7e6c29;
}