@use "../styles.scss";
@use "./colors.scss";

.funding-gradient {
  background: linear-gradient(
    135deg,
    var(--background-contrast-blue-france) 0%,
    var(--background-default-grey) 100%
  );
  padding-bottom: 1rem;
}

.fundings-ml-auto {
  margin-left: auto !important;
}