.fr-nav--horizontal {
  .fr-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    gap: 0 !important;

    .fr-nav__item {
      align-items: flex-start;
      position: static;
      margin: 0 !important;
      padding: 0 !important;

      .fr-nav__link {
        font-weight: 400;
        height: 100%;
        margin: 0 !important;
        width: auto;
        font-size: 0.875rem;
        line-height: 1.5rem;
        min-height: 2.5rem;
        text-wrap: nowrap;
        display: block;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        position: relative;

        &:hover {
          background-color: var(--background-action-low-blue-france-hover);
          color: var(--text-action-high-blue-france-hover);
        }

        &[aria-current="page"] {
          font-weight: 700;

          &::before {
            content: "";
            bottom: -1px;
            height: 3px;
            left: 0;
            margin-top: 0;
            position: absolute;
            top: auto;
            width: 100%;
            background-color: var(--border-action-high-blue-france);
          }
        }
      }
    }
  }
}
