:root {
  --label-color: var(--text-action-high-grey);
  --women-color: #e18b76;
  --men-color: #efcb3a;
  --sciences-field-color: #6e445a;
  --fields-color: #a94645;
  --university-color: #9ef9be;
  --geo-color: #465f9d;
  --literature-human-sc-field-color: #c8aa39;
  --law-economics-field-color: #465f9d;
  --unspecified-field-color: #dddddd;
  --medecine-field-color: #297254;
  --pharmacy-field-color: #00a95f;
  --ondotologie-field-color: #9ef9be;
  --other-health-field-color: #6fe49d;
  --non-univ-field-color: #a94645;
  --green-tilleul-verveine-sun-418: #66673d;
  --green-bourgeon-sun-425: #447049;
  --green-emeraude-sun-425: #297254;
  --green-menthe-sun-373: #37635f;
  --green-archipel-sun-391: #006a6f;
  --blue-ecume-sun-247: #2f4077;
  --blue-cumulus-sun-368: #3558a2;
  --green-bourgeon-main-640: #68a532;
  --blue-ecume-moon-675: #869ece;
  --orange-terre-battue-main-645: #e4794a;
  --pink-macaron-sun-406: #8d533e;
  --pink-tuile-sun-425: #a94645;
  --yellow-tournesol-sun-407: #716043;
  --yellow-moutarde-sun-348: #695240;
  --orange-terre-battue-sun-370: #755348;
  --brown-cafe-creme-sun-383: #685c48;
  --brown-caramel-sun-425: #845d48;
  --brown-opera-sun-395: #745b47;
  --beige-gris-galet-sun-407: #6a6156;
  --green-tilleul-verveine-975: #fef7da;
  --green-bourgeon-975: #e6feda;
  --green-emeraude-975: #e3fdeb;
  --green-menthe-975: #dffdf7;
  --green-archipel-975: #e5fbfd;
  --blue-ecume-975: #f4f6fe;
  --blue-cumulus-975: #f3f6fe;
  --purple-glycine-975: #fef3fd;
  --pink-macaron-975: #fef4f2;
  --pink-tuile-975: #fef4f3;
  --yellow-tournesol-975: #fef6e3;
  --yellow-moutarde-975: #fef5e8;
  --orange-terre-battue-975: #fef4f2;
  --brown-cafe-creme-975: #fbf6ed;
  --brown-caramel-975: #fbf5f2;
  --brown-opera-975: #fbf5f2;
  --beige-gris-galet-975: #f9f6f2;
  --green-tilleul-verveine-950: #fceeac;
  --green-bourgeon-950: #c9fcac;
  --green-emeraude-950: #c3fad5;
  --green-menthe-950: #bafaee;
  --green-archipel-950: #c7f6fc;
  --blue-ecume-950: #e9edfe;
  --blue-cumulus-950: #e6eefe;
  --purple-glycine-950: #fee7fc;
  --pink-macaron-950: #fee9e6;
  --pink-tuile-950: #fee9e7;
  --yellow-tournesol-950: #feecc2;
  --yellow-moutarde-950: #feebd0;
  --orange-terre-battue-950: #fee9e5;
  --brown-cafe-creme-950: #f7ecdb;
  --brown-caramel-950: #f7ebe5;
  --brown-opera-950: #f7ece4;
  --beige-gris-galet-950: #f3ede5;
  --green-tilleul-verveine-925: #fbe769;
  --green-bourgeon-925: #a9fb68;
  --green-emeraude-925: #9ef9be;
  --green-menthe-925: #8bf8e7;
  --green-archipel-925: #a6f2fa;
  --blue-ecume-925: #dee5fd;
  --blue-cumulus-925: #dae6fd;
  --purple-glycine-925: #fddbfa;
  --pink-macaron-925: #fddfda;
  --pink-tuile-925: #fddfdb;
  --yellow-tournesol-925: #fde39c;
  --yellow-moutarde-925: #fde2b5;
  --orange-terre-battue-925: #fddfd8;
  --brown-cafe-creme-925: #f4e3c7;
  --brown-caramel-925: #f3e2d9;
  --brown-opera-925: #f3e2d7;
  --beige-gris-galet-925: #eee4d9;
  --green-tilleul-verveine-850: #e2cf58;
  --green-bourgeon-850: #95e257;
  --green-emeraude-850: #6fe49d;
  --green-menthe-850: #73e0cf;
  --green-archipel-850: #60e0eb;
  --blue-ecume-850: #bfccfb;
  --blue-cumulus-850: #b6cffb;
  --purple-glycine-850: #fbb8f6;
  --pink-macaron-850: #fcc0b4;
  --pink-tuile-850: #fcbfb7;
  --yellow-tournesol-850: #efcb3a;
  --yellow-moutarde-850: #fcc63a;
  --orange-terre-battue-850: #fcc0b0;
  --brown-cafe-creme-850: #e7ca8e;
  --brown-caramel-850: #eac7b2;
  --brown-opera-850: #eac7ad;
  --beige-gris-galet-850: #e0cab0;

  --scale-1-color: var(--green-tilleul-verveine-main-707);
  --scale-2-color: var(--green-bourgeon-main-640);
  --scale-3-color: var(--green-emeraude-main-632);
  --scale-4-color: var(--green-menthe-main-548);
  --scale-5-color: var(--green-archipel-main-557);
  --scale-6-color: var(--blue-ecume-main-400);
  --scale-7-color: var(--blue-cumulus-main-526);
  --scale-8-color: var(--purple-glycine-main-494);
  --scale-9-color: var(--pink-macaron-main-689);
  --scale-10-color: var(--pink-tuile-main-556);
  --scale-11-color: var(--yellow-tournesol-main-731);
  --scale-12-color: var(--yellow-moutarde-main-679);
  --scale-13-color: var(--orange-terre-battue-main-645);
  --scale-14-color: var(--brown-cafe-creme-main-782);
  --scale-15-color: var(--brown-caramel-main-648);
  --scale-16-color: var(--brown-opera-main-680);
  --scale-17-color: var(--beige-gris-galet-main-702);
  --scale-18-color: var(--green-tilleul-verveine-sun-418);
  --scale-19-color: var(--green-bourgeon-sun-425);
  --scale-20-color: var(--green-emeraude-sun-425);
  --scale-21-color: var(--green-menthe-sun-373);
  --scale-22-color: var(--green-archipel-sun-391);
  --scale-23-color: var(--blue-ecume-sun-247);
  --scale-24-color: var(--blue-cumulus-sun-368);
  --scale-25-color: var(--purple-glycine-sun-319);
  --scale-26-color: var(--pink-macaron-sun-406);
  --scale-27-color: var(--pink-tuile-sun-425);
  --scale-28-color: var(--yellow-tournesol-sun-407);
  --scale-29-color: var(--yellow-moutarde-sun-348);
  --scale-30-color: var(--orange-terre-battue-sun-370);
  --scale-31-color: var(--brown-cafe-creme-sun-383);
  --scale-32-color: var(--brown-caramel-sun-425);
  --scale-33-color: var(--brown-opera-sun-395);
  --scale-34-color: var(--beige-gris-galet-sun-407);
  --scale-35-color: var(--green-tilleul-verveine-975);
  --scale-36-color: var(--green-bourgeon-975);
  --scale-37-color: var(--green-emeraude-975);
  --scale-38-color: var(--green-menthe-975);
  --scale-39-color: var(--green-archipel-975);
  --scale-40-color: var(--blue-ecume-975);
  --scale-41-color: var(--blue-cumulus-975);
  --scale-42-color: var(--purple-glycine-975);
  --scale-43-color: var(--pink-macaron-975);
  --scale-44-color: var(--pink-tuile-975);
  --scale-45-color: var(--yellow-tournesol-975);
  --scale-46-color: var(--yellow-moutarde-975);
  --scale-47-color: var(--orange-terre-battue-975);
  --scale-48-color: var(--brown-cafe-creme-975);
  --scale-49-color: var(--brown-caramel-975);
  --scale-50-color: var(--brown-opera-975);
  --scale-51-color: var(--beige-gris-galet-975);
  --scale-52-color: var(--green-tilleul-verveine-950);
  --scale-53-color: var(--green-bourgeon-950);
  --scale-54-color: var(--green-emeraude-950);
  --scale-55-color: var(--green-menthe-950);
  --scale-56-color: var(--green-archipel-950);
  --scale-57-color: var(--blue-ecume-950);
  --scale-58-color: var(--blue-cumulus-950);
  --scale-59-color: var(--purple-glycine-950);
  --scale-60-color: var(--pink-macaron-950);
  --scale-61-color: var(--pink-tuile-950);
  --scale-62-color: var(--yellow-tournesol-950);
  --scale-63-color: var(--yellow-moutarde-950);
  --scale-64-color: var(--orange-terre-battue-950);
  --scale-65-color: var(--brown-cafe-creme-950);
  --scale-66-color: var(--brown-caramel-950);
  --scale-67-color: var(--brown-opera-950);
  --scale-68-color: var(--beige-gris-galet-950);
  --scale-69-color: var(--green-tilleul-verveine-925);
  --scale-70-color: var(--green-bourgeon-925);
  --scale-71-color: var(--green-emeraude-925);
  --scale-72-color: var(--green-menthe-925);
  --scale-73-color: var(--green-archipel-925);
  --scale-74-color: var(--blue-ecume-925);
  --scale-75-color: var(--blue-cumulus-925);
  --scale-76-color: var(--purple-glycine-925);
  --scale-77-color: var(--pink-macaron-925);
  --scale-78-color: var(--pink-tuile-925);
  --scale-79-color: var(--yellow-tournesol-925);
  --scale-80-color: var(--yellow-moutarde-925);
  --scale-81-color: var(--orange-terre-battue-925);
  --scale-82-color: var(--brown-cafe-creme-925);
  --scale-83-color: var(--brown-caramel-925);
  --scale-84-color: var(--brown-opera-925);
  --scale-85-color: var(--beige-gris-galet-925);
  --scale-86-color: var(--green-tilleul-verveine-850);
  --scale-87-color: var(--green-bourgeon-850);
  --scale-88-color: var(--green-emeraude-850);
  --scale-89-color: var(--green-menthe-850);
  --scale-90-color: var(--green-archipel-850);
  --scale-91-color: var(--blue-ecume-850);
  --scale-92-color: var(--blue-cumulus-850);
  --scale-93-color: var(--purple-glycine-850);
  --scale-94-color: var(--pink-macaron-850);
  --scale-95-color: var(--pink-tuile-850);
  --scale-96-color: var(--yellow-tournesol-850);
  --scale-97-color: var(--yellow-moutarde-850);
  --scale-98-color: var(--orange-terre-battue-850);
  --scale-99-color: var(--brown-cafe-creme-850);
  --scale-100-color: var(--brown-caramel-850);
  --scale-101-color: var(--brown-opera-850);
  --scale-102-color: var(--beige-gris-galet-850);
}
