.search {
  .search-results {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px 0px #bbb;
    margin-top: 5px;
    padding-left: 0;
    position: absolute;
    width: 60rem;
    z-index: 1000;

    .search-result {
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      list-style: none;
      padding: 5px;

      &:hover {
        background-color: #eee;
      }

      .search-result-link {
        &:focus {
          background-color: #eee;
        }
      }
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--background-default-grey);
  z-index: 1;
}

.text-right {
  text-align: right;
}

.legend {
  ul {
    font-size: 12px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      
      div {
        border-radius: 3px;
        height: 6px;
        margin-right: 10px;
        width: 26px;
      }
    }
  }
}

:root {  
  // --green-tilleul-verveine-main-707:
  // --green-bourgeon-main-640:
  // --green-emeraude-main-632:
  // --green-menthe-main-548:
  // --green-archipel-main-557:
  // --blue-ecume-main-400:
  // --blue-cumulus-main-526:
  // --purple-glycine-main-494:
  // --pink-macaron-main-689:
  // --pink-tuile-main-556:
  // --yellow-tournesol-main-731:
  // --yellow-moutarde-main-679:
  // --orange-terre-battue-main-645:
  // --brown-cafe-creme-main-782:
  // --brown-caramel-main-648:
  // --brown-opera-main-680:
  // --beige-gris-galet-main-702:
  --green-tilleul-verveine-sun-418: #66673D;
  --green-bourgeon-sun-425: #447049;
  --green-emeraude-sun-425: #297254;
  --green-menthe-sun-373: #37635f;
  --green-archipel-sun-391: #006A6F;
  --blue-ecume-sun-247: #2F4077;
  --blue-cumulus-sun-368: #3558A2;
  --purple-glycine-sun-319: #6E445A;
  --pink-macaron-sun-406: #8D533E;
  --pink-tuile-sun-425: #a94645;
  --yellow-tournesol-sun-407: #716043;
  --yellow-moutarde-sun-348: #695240;
  --orange-terre-battue-sun-370: #755348;
  --brown-cafe-creme-sun-383: #685C48;
  --brown-caramel-sun-425: #845d48;
  --brown-opera-sun-395: #745B47;
  --beige-gris-galet-sun-407: #6A6156;
  --green-tilleul-verveine-975: #fef7da;
  --green-bourgeon-975: #e6feda;
  --green-emeraude-975: #e3fdeb;
  --green-menthe-975: #dffdf7;
  --green-archipel-975: #e5fbfd;
  --blue-ecume-975: #f4f6fe;
  --blue-cumulus-975: #f3f6fe;
  --purple-glycine-975: #fef3fd;
  --pink-macaron-975: #fef4f2;
  --pink-tuile-975: #fef4f3;
  --yellow-tournesol-975: #fef6e3;
  --yellow-moutarde-975: #fef5e8;
  --orange-terre-battue-975: #fef4f2;
  --brown-cafe-creme-975: #fbf6ed;
  --brown-caramel-975: #fbf5f2;
  --brown-opera-975: #fbf5f2;
  --beige-gris-galet-975: #f9f6f2;
  --green-tilleul-verveine-950: #fceeac;
  --green-bourgeon-950: #c9fcac;
  --green-emeraude-950: #c3fad5;
  --green-menthe-950: #bafaee;
  --green-archipel-950: #c7f6fc;
  --blue-ecume-950: #e9edfe;
  --blue-cumulus-950: #e6eefe;
  --purple-glycine-950: #fee7fc;
  --pink-macaron-950: #fee9e6;
  --pink-tuile-950: #fee9e7;
  --yellow-tournesol-950: #feecc2;
  --yellow-moutarde-950: #feebd0;
  --orange-terre-battue-950: #fee9e5;
  --brown-cafe-creme-950: #f7ecdb;
  --brown-caramel-950: #f7ebe5;
  --brown-opera-950: #f7ece4;
  --beige-gris-galet-950: #f3ede5;
  --green-tilleul-verveine-925: #fbe769;
  --green-bourgeon-925: #a9fb68;
  --green-emeraude-925: #9ef9be;
  --green-menthe-925: #8bf8e7;
  --green-archipel-925: #a6f2fa;
  --blue-ecume-925: #dee5fd;
  --blue-cumulus-925: #dae6fd;
  --purple-glycine-925: #fddbfa;
  --pink-macaron-925: #fddfda;
  --pink-tuile-925: #fddfdb;
  --yellow-tournesol-925: #fde39c;
  --yellow-moutarde-925: #fde2b5;
  --orange-terre-battue-925: #fddfd8;
  --brown-cafe-creme-925: #f4e3c7;
  --brown-caramel-925: #f3e2d9;
  --brown-opera-925: #f3e2d7;
  --beige-gris-galet-925: #eee4d9;
  --green-tilleul-verveine-850: #e2cf58;
  --green-bourgeon-850: #95e257;
  --green-emeraude-850: #6fe49d;
  --green-menthe-850: #73e0cf;
  --green-archipel-850: #60e0eb;
  --blue-ecume-850: #bfccfb;
  --blue-cumulus-850: #b6cffb;
  --purple-glycine-850: #fbb8f6;
  --pink-macaron-850: #fcc0b4;
  --pink-tuile-850: #fcbfb7;
  --yellow-tournesol-850: #efcb3a;
  --yellow-moutarde-850: #fcc63a;
  --orange-terre-battue-850: #fcc0b0;
  --brown-cafe-creme-850: #e7ca8e;
  --brown-caramel-850: #eac7b2;
  --brown-opera-850: #eac7ad;
  --beige-gris-galet-850: #e0cab0;
  
  --scale-1-color: var(--green-tilleul-verveine-main-707);
  --scale-2-color: var(--green-bourgeon-main-640);
  --scale-3-color: var(--green-emeraude-main-632);
  --scale-4-color: var(--green-menthe-main-548);
  --scale-5-color: var(--green-archipel-main-557);
  --scale-6-color: var(--blue-ecume-main-400);
  --scale-7-color: var(--blue-cumulus-main-526);
  --scale-8-color: var(--purple-glycine-main-494);
  --scale-9-color: var(--pink-macaron-main-689);
  --scale-10-color: var(--pink-tuile-main-556); 
  --scale-11-color: var(--yellow-tournesol-main-731); 
  --scale-12-color: var(--yellow-moutarde-main-679); 
  --scale-13-color: var(--orange-terre-battue-main-645); 
  --scale-14-color: var(--brown-cafe-creme-main-782); 
  --scale-15-color: var(--brown-caramel-main-648); 
  --scale-16-color: var(--brown-opera-main-680); 
  --scale-17-color: var(--beige-gris-galet-main-702);
  --scale-18-color: var(--green-tilleul-verveine-sun-418);
  --scale-19-color: var(--green-bourgeon-sun-425);
  --scale-20-color: var(--green-emeraude-sun-425);
  --scale-21-color: var(--green-menthe-sun-373);
  --scale-22-color: var(--green-archipel-sun-391);
  --scale-23-color: var(--blue-ecume-sun-247);
  --scale-24-color: var(--blue-cumulus-sun-368);
  --scale-25-color: var(--purple-glycine-sun-319);
  --scale-26-color: var(--pink-macaron-sun-406);
  --scale-27-color: var(--pink-tuile-sun-425);
  --scale-28-color: var(--yellow-tournesol-sun-407);
  --scale-29-color: var(--yellow-moutarde-sun-348);
  --scale-30-color: var(--orange-terre-battue-sun-370);
  --scale-31-color: var(--brown-cafe-creme-sun-383);
  --scale-32-color: var(--brown-caramel-sun-425);
  --scale-33-color: var(--brown-opera-sun-395);
  --scale-34-color: var(--beige-gris-galet-sun-407);
  --scale-35-color: var(--green-tilleul-verveine-975);
  --scale-36-color: var(--green-bourgeon-975);
  --scale-37-color: var(--green-emeraude-975);
  --scale-38-color: var(--green-menthe-975);
  --scale-39-color: var(--green-archipel-975);
  --scale-40-color: var(--blue-ecume-975);
  --scale-41-color: var(--blue-cumulus-975);
  --scale-42-color: var(--purple-glycine-975);
  --scale-43-color: var(--pink-macaron-975);
  --scale-44-color: var(--pink-tuile-975);
  --scale-45-color: var(--yellow-tournesol-975);
  --scale-46-color: var(--yellow-moutarde-975);
  --scale-47-color: var(--orange-terre-battue-975);
  --scale-48-color: var(--brown-cafe-creme-975);
  --scale-49-color: var(--brown-caramel-975);
  --scale-50-color: var(--brown-opera-975);
  --scale-51-color: var(--beige-gris-galet-975);
  --scale-52-color: var(--green-tilleul-verveine-950);
  --scale-53-color: var(--green-bourgeon-950);
  --scale-54-color: var(--green-emeraude-950);
  --scale-55-color: var(--green-menthe-950);
  --scale-56-color: var(--green-archipel-950);
  --scale-57-color: var(--blue-ecume-950);
  --scale-58-color: var(--blue-cumulus-950);
  --scale-59-color: var(--purple-glycine-950);
  --scale-60-color: var(--pink-macaron-950);
  --scale-61-color: var(--pink-tuile-950);
  --scale-62-color: var(--yellow-tournesol-950);
  --scale-63-color: var(--yellow-moutarde-950);
  --scale-64-color: var(--orange-terre-battue-950);
  --scale-65-color: var(--brown-cafe-creme-950);
  --scale-66-color: var(--brown-caramel-950);
  --scale-67-color: var(--brown-opera-950);
  --scale-68-color: var(--beige-gris-galet-950);
  --scale-69-color: var(--green-tilleul-verveine-925);
  --scale-70-color: var(--green-bourgeon-925);
  --scale-71-color: var(--green-emeraude-925);
  --scale-72-color: var(--green-menthe-925);
  --scale-73-color: var(--green-archipel-925);
  --scale-74-color: var(--blue-ecume-925);
  --scale-75-color: var(--blue-cumulus-925);
  --scale-76-color: var(--purple-glycine-925);
  --scale-77-color: var(--pink-macaron-925);
  --scale-78-color: var(--pink-tuile-925);
  --scale-79-color: var(--yellow-tournesol-925);
  --scale-80-color: var(--yellow-moutarde-925);
  --scale-81-color: var(--orange-terre-battue-925);
  --scale-82-color: var(--brown-cafe-creme-925);
  --scale-83-color: var(--brown-caramel-925);
  --scale-84-color: var(--brown-opera-925);
  --scale-85-color: var(--beige-gris-galet-925);
  --scale-86-color: var(--green-tilleul-verveine-850);
  --scale-87-color: var(--green-bourgeon-850);
  --scale-88-color: var(--green-emeraude-850);
  --scale-89-color: var(--green-menthe-850);
  --scale-90-color: var(--green-archipel-850);
  --scale-91-color: var(--blue-ecume-850);
  --scale-92-color: var(--blue-cumulus-850);
  --scale-93-color: var(--purple-glycine-850);
  --scale-94-color: var(--pink-macaron-850);
  --scale-95-color: var(--pink-tuile-850);
  --scale-96-color: var(--yellow-tournesol-850);
  --scale-97-color: var(--yellow-moutarde-850);
  --scale-98-color: var(--orange-terre-battue-850);
  --scale-99-color: var(--brown-cafe-creme-850);
  --scale-100-color: var(--brown-caramel-850);
  --scale-101-color: var(--brown-opera-850);
  --scale-102-color: var(--beige-gris-galet-850);

  --label-color: var(--text-action-high-grey);
  --evaluated-project-color: #009099; // projets évalués
  --successful-project-color: #233e41; // projets lauréats
  --successRate-color: #1f8d49; // taux de succès
  --pillar-p1-color: var(--scale-1-color); // pilier 1
  --pillar-p2-color: var(--scale-2-color); // pilier 2
  --pillar-p3-color: var(--scale-3-color); // pilier 3
  --pillar-p4-color: var(--scale-4-color); // pilier 4

  // Programs colors
  --program-horizon_1_1-color: var(--scale-1-color);
  --program-horizon_1_2-color: var(--scale-2-color);
  --program-horizon_1_3-color: var(--scale-3-color);
  --program-horizon_2_1-color: var(--scale-4-color);
  --program-horizon_2_2-color: var(--scale-5-color);
  --program-horizon_2_3-color: var(--scale-6-color);
  --program-horizon_2_4-color: var(--scale-7-color);
  --program-horizon_2_5-color: var(--scale-8-color);
  --program-horizon_2_6-color: var(--scale-9-color);
  --program-horizon_3_1-color: var(--scale-10-color);
  --program-horizon_3_2-color: var(--scale-11-color);
  --program-horizon_3_3-color: var(--scale-12-color);
  --program-horizon_4_1-color: var(--scale-13-color);
  --program-horizon_4_2-color: var(--scale-14-color);
  
  // Topics colors
  --topic-cluster_1-color: var(--scale-15-color);
  --topic-cluster_2-color: var(--scale-16-color);
  --topic-cluster_3-color: var(--scale-17-color);
  --topic-cluster_4-color: var(--scale-18-color);
  --topic-cluster_4_digital-color: var(--scale-19-color);
  --topic-cluster_4_industry-color: var(--scale-20-color);
  --topic-cluster_4_space-color: var(--scale-21-color);
  --topic-cluster_5-color: var(--scale-22-color);
  --topic-cluster_5_climate-color: var(--scale-23-color);
  --topic-cluster_5_energy-color: var(--scale-24-color);
  --topic-cluster_5_mobility-color: var(--scale-25-color);
  --topic-cluster_6-color: var(--scale-26-color);
  --topic-eic-color: var(--scale-27-color);
  --topic-eie-color: var(--scale-28-color);
  --topic-eit-color: var(--scale-29-color);
  --topic-era-color: var(--scale-30-color);
  --topic-erc-color: var(--scale-31-color);
  --topic-euspa-color: var(--scale-32-color);
  --topic-infra-color: var(--scale-33-color);
  --topic-ju_jti-color: var(--scale-34-color);
  --topic-mission-color: var(--scale-35-color);
  --topic-msca-color: var(--scale-36-color);
  --topic-thema_others-color: var(--scale-37-color);
  --topic-widening-color: var(--scale-38-color);

  // Destinations colors
  --destination-accelerator-color: var(--scale-1-color);
  --destination-access-color: var(--scale-2-color);
  --destination-bioenv_others-color: var(--scale-3-color);
  --destination-cancer-color: var(--scale-4-color);
  --destination-cbe-color: var(--scale-5-color);
  --destination-ccsi_others-color: var(--scale-6-color);
  --destination-cem_others-color: var(--scale-7-color);
  --destination-cit-color: var(--scale-8-color);
  --destination-clean_aviation-color: var(--scale-9-color);
  --destination-cleanh2-color: var(--scale-10-color);
  --destination-clima-color: var(--scale-11-color);
  --destination-connect-color: var(--scale-12-color);
  --destination-cost-color: var(--scale-13-color);
  --destination-chips-color: var(--scale-14-color);
  --destination-destination_others-color: var(--scale-15-color);
  --destination-dis_others-color: var(--scale-16-color);
  --destination-destination_1_biodiv-color: var(--scale-17-color);
  --destination-destination_1_d1-color: var(--scale-18-color);
  --destination-destination_1_democracy-color: var(--scale-19-color);
  --destination-destination_1_fct-color: var(--scale-20-color);
  --destination-destination_1_stayhlth-color: var(--scale-21-color);
  --destination-destination_1_twin-color: var(--scale-22-color);
  --destination-destination_2_bm-color: var(--scale-23-color);
  --destination-destination_2_d2-color: var(--scale-24-color);
  --destination-destination_2_envhlth-color: var(--scale-25-color);
  --destination-destination_2_farm2fork-color: var(--scale-26-color);
  --destination-destination_2_heritage-color: var(--scale-27-color);
  --destination-destination_2_resilience-color: var(--scale-28-color);
  --destination-destination_3_circbio-color: var(--scale-29-color);
  --destination-destination_3_d3-color: var(--scale-30-color);
  --destination-destination_3_data-color: var(--scale-31-color);
  --destination-destination_3_disease-color: var(--scale-32-color);
  --destination-destination_3_infra-color: var(--scale-33-color);
  --destination-destination_3_transformations-color: var(--scale-34-color);
  --destination-destination_4_care-color: var(--scale-35-color);
  --destination-destination_4_cs-color: var(--scale-36-color);
  --destination-destination_4_d4-color: var(--scale-37-color);
  --destination-destination_4_digital-color: var(--scale-38-color);
  --destination-destination_4_zeropollution-color: var(--scale-39-color);
  --destination-destination_5_climate-color: var(--scale-40-color);
  --destination-destination_5_d5-color: var(--scale-41-color);
  --destination-destination_5_drs-color: var(--scale-42-color);
  --destination-destination_5_space-color: var(--scale-43-color);
  --destination-destination_5_tool-color: var(--scale-44-color);
  --destination-destination_6_communities-color: var(--scale-45-color);
  --destination-destination_6_d6-color: var(--scale-46-color);
  --destination-destination_6_human-color: var(--scale-47-color);
  --destination-destination_6_ind-color: var(--scale-48-color);
  --destination-destination_6_ssri-color: var(--scale-49-color);
  --destination-destination_7_governance-color: var(--scale-50-color);
  --destination-edctp3-color: var(--scale-51-color);
  --destination-er-color: var(--scale-52-color);
  --destination-era-color: var(--scale-53-color);
  --destination-euratom-color: var(--scale-54-color);
  --destination-eurohpc-color: var(--scale-55-color);
  --destination-euspa-color: var(--scale-56-color);
  --destination-gender-color: var(--scale-57-color);
  --destination-health_others-color: var(--scale-58-color);
  --destination-ihi-color: var(--scale-59-color);
  --destination-infradev-color: var(--scale-60-color);
  --destination-infraeosc-color: var(--scale-61-color);
  --destination-infranet-color: var(--scale-62-color);
  --destination-infraserv-color: var(--scale-63-color);
  --destination-infratech-color: var(--scale-64-color);
  --destination-innovsmes-color: var(--scale-65-color);
  --destination-kic_ccsi-color: var(--scale-66-color);
  --destination-kic_climate-color: var(--scale-67-color);
  --destination-kic_digital-color: var(--scale-68-color);
  --destination-kic_food-color: var(--scale-69-color);
  --destination-kic_health-color: var(--scale-70-color);
  --destination-kic_innoenergy-color: var(--scale-71-color);
  --destination-kic_manufacturing-color: var(--scale-72-color);
  --destination-kic_rawmaterials-color: var(--scale-73-color);
  --destination-kic_urbanmobility-color: var(--scale-74-color);
  --destination-miss_others-color: var(--scale-75-color);
  --destination-ocean-color: var(--scale-76-color);
  --destination-pathfinder-color: var(--scale-77-color);
  --destination-scaleup-color: var(--scale-78-color);
  --destination-sesar-color: var(--scale-79-color);
  --destination-sns-color: var(--scale-80-color);
  --destination-soil-color: var(--scale-81-color);
  --destination-talents-color: var(--scale-82-color);
  --destination-transition-color: var(--scale-83-color);
}
