.gender-card {
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  &-female {
    .fr-grid-row {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .gender-percentage,
    .gender-count {
      text-align: left;
    }
  }
}

.gender-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  &-male {
    background: var(--men-color);
  }

  &-female {
    background: var(--women-color);
  }
}

.gender-percentage {
  font-size: 1.5rem;
  font-weight: bold;

  &-male {
    color: var(--men-color);
  }

  &-female {
    color: var(--women-color);
  }
}

.gender-count {
  text-align: right;
  font-size: 0.65rem;
  color: #666;
}

.stat-title {
  font-weight: bold;
  font-size: 0.875rem;
  height: 24px;

  &-male,
  &-female {
    text-align: center;
  }
}

.stat-value {
  font-size: 1.25rem;
  font-weight: bold;
  height: 32px;

  &-male,
  &-female {
    text-align: center;
  }
}

.stat-count {
  font-size: 0.75rem;
  color: #666;
  height: 20px;
  display: flex;
  justify-content: center;

  &-male {
    text-align: left;
  }

  &-female {
    text-align: right;
  }
}

.separator {
  opacity: 0.3;

  &-male {
    border-top: 1px solid var(--men-color);
  }

  &-female {
    border-top: 1px solid var(--women-color);
  }
}

.age-distribution {
  display: flex;
  height: 45px;
  border-radius: 4px;
  background: #f6f6f6;
  overflow: hidden;
}

.age-bar {
  position: relative;
  height: 100%;
  margin: 0 1px;
  min-width: 10px;

  &-male {
    background: var(--men-color);
  }

  &-female {
    background: var(--women-color);
  }
}

.age-label {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}

.age-percent {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
