.gender-card {
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.gender-card-female .fr-grid-row {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.gender-card-female .gender-percentage {
  text-align: left;
}

.gender-card-female .gender-count {
  text-align: left;
}

.gender-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.gender-icon-male {
  background: var(--men-color);
}

.gender-icon-female {
  background: var(--women-color);
}

.gender-percentage {
  font-size: 1.5rem;
  font-weight: bold;
}

.gender-percentage-male {
  color: (var(--men-color));
}

.gender-percentage-female {
  color: (var(--women-color));
}

.gender-count {
  text-align: right;
  font-size: 0.65rem;
  color: #666;
}

.stat-title {
  font-weight: bold;
  font-size: 0.875rem;
  height: 24px;
}

.stat-title-male {
  text-align: center;
}

.stat-title-female {
  text-align: center;
}

.stat-value {
  font-size: 1.25rem;
  font-weight: bold;
  height: 32px;
}

.stat-value-male {
  text-align: center;
}

.stat-value-female {
  text-align: center;
}

.stat-count {
  font-size: 0.75rem;
  color: #666;
  height: 20px;
  display: flex;
  justify-content: center;
}

.stat-count-male {
  text-align: left;
}

.stat-count-female {
  text-align: right;
}
.separator {
  opacity: 0.3;
}

.separator-male {
  border-top: 1px solid (var(--men-color));
}

.separator-female {
  border-top: 1px solid (var(--men-women));
}

.age-distribution {
  display: flex;
  height: 45px;
  border-radius: 4px;
  background: #f6f6f6;
  overflow: hidden;
}

.age-bar {
  position: relative;
  height: 100%;
  margin: 0 1px;
  min-width: 10px;
}

.age-bar-male {
  background: (var(--men-color));
}

.age-bar-female {
  background: (var(--women-color));
}

.age-label {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}

.age-percent {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
