.synthesis-focus-template {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .fake-title {
    background: linear-gradient(90deg, #E0E0E0 25%, #F0F0F0 50%, #E0E0E0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    width: 300px;
    height: 40px;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  .fake-source {
    background: linear-gradient(90deg, #E0E0E0 25%, #F0F0F0 50%, #E0E0E0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    width: 250px;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  .fake-tile {
    background: linear-gradient(90deg, #E0E0E0 25%, #F0F0F0 50%, #E0E0E0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    width: 100%;
    height: 153px;
    border-radius: 5px;
  }
}

.synthesis-focus {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  
  100% {
    background-position: 200% 0;
  }
}